<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>Me in a Nutshell</h1>
        </header>
        <p>I describe myself as an Innovation Manager with more than 10 years of experience in e-government projects and digital transformation of critical industries at the national and EU level (parliamentary bodies, public finance, procurement, strategic infrastructures, utilities), and 20 years of exposure to ICT engineering and management (including open-source projects).</p>
        <ul class="actions">
            <li><a href="{{ '/about/' | absolute_url }}" class="button big">Learn More</a></li>
        </ul>
    </div>
    <span class="image object">
        <img src="assets/images/cover.jpg" alt="" />
    </span>
</section>
