<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>{{ site.data.labels.bio-header[page.lang] }}</h1>
        </header>
        <p>{{ site.data.labels.bio-excerpt[page.lang] }}</p>
        <ul class="actions">
            <li><a href="{{ page.lang | append: '/bio' | absolute_url }}" class="button big">{{ site.data.labels.learn-more[page.lang] }}</a></li>
        </ul>
    </div>
    <span class="image object">
        <img src="/assets/images/cover.jpg" alt="" />
    </span>
</section>
