<!-- Scripts -->
  <script src="{{ 'assets/js/jquery.min.js' | absolute_url }}"></script>
  <script src="{{ 'assets/js/skel.min.js' | absolute_url }}"></script>
  <script src="{{ 'assets/js/util.js' | absolute_url }}"></script>
  <!--[if lte IE 8]><script src="{{ 'assets/js/ie/respond.min.js' | absolute_url }}"></script><![endif]-->
  <script src="{{ 'assets/js/main.js' | absolute_url }}"></script>

<!-- Disqus -->
{% unless page.comments == false %}
  {% include disqus.html %}
{% endunless %}

<!-- Cookie Consent -->
<!-- https://www.osano.com/cookieconsent/download/ -->
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#f56a6a"
    },
    "button": {
      "background": "#000000"
    }
  },
  "showLink": false,
  "position": "top",
  "static": true,
  "content": {
    "message": "{{ site.data.labels.cookieconsent-message[page.lang] }}",
    "dismiss": "{{ site.data.labels.cookieconsent-dismiss[page.lang] }}"
  }
});
</script>
