<section>
    <header class="major">
        <!--<h2><a id="same-language">{{ site.data.labels.interviews-same-language[page.lang] }}</a></h2>-->
    </header>
    <div class="posts">
        <ul>
            {% for item in site.data.interviews.interviews %}
            <li>{{ item.date }}, <em>{{ item.newspaper }}</em>, <a href="{{ item.url }}"><em>{{ item.title }}</em></a> {% if item.archived != nil and item.archived != "" %}(<a href="{{ item.archived }}">{{ site.data.t.archived[page.lang] }}</a>){% endif %}</li>
            {% endfor %}
        </ul>
    </div>
</section>
