<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li><a href="{{ '' | absolute_url }}">{{ site.data.labels.homepage[page.lang] }}</a></li>
                <li>
                    <span class="opener">{{ site.data.labels.who-i-am[page.lang] }}</span>
                    <ul>
                        <li><a href="{{ page.lang | append: '/bio' | absolute_url }}">{{ site.data.labels.me-in-a-nutshell[page.lang] }}</a></li>
                        <li><a href="{{ page.lang | append: '/resume#experience' | absolute_url }}">{{ site.data.labels.experience[page.lang] }}</a></li>
                        <li><a href="{{ page.lang | append: '/resume#teaching' | absolute_url }}">{{ site.data.labels.teaching[page.lang] }}</a></li>
                        <li><a href="{{ page.lang | append: '/my-story' | absolute_url }}">{{ site.data.labels.my-story[page.lang] }}</a></li>
                        <li><a href="{{ page.lang | append: '/my-failures' | absolute_url }}">{{ site.data.labels.my-failures[page.lang] }}</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">{{ site.data.labels.blog[page.lang] }}</span>
                    <ul>
                        <li><a href="{{ page.lang | append: '/eventual-consistency' | absolute_url }}">Eventual Consistency</a></li>
                    </ul>
                </li>
                <li><a href="{{ page.lang | append: '/talks' | absolute_url }}">{{ site.data.labels.talks[page.lang] }}</a></li>
                <li>
                    <span class="opener">{{ site.data.labels.publications[page.lang] }}</span>
                    <ul>
                        <li><a href="{{ page.lang | append: '/articles#same-language' | absolute_url }}">{{ site.data.labels.articles-same-language[page.lang] }}</a></li>
                        <li><a href="{{ page.lang | append: '/articles#other-languages' | absolute_url }}">{{ site.data.labels.articles-other-languages[page.lang] }}</a></li>
                        <li><a href="{{ page.lang | append: '/technical-books' | absolute_url }}">{{ site.data.labels.technical-books[page.lang] }}</a></li>
                        <li><a href="{{ page.lang | append: '/theses' | absolute_url }}">{{ site.data.labels.theses[page.lang] }}</a></li>
                        <li><a href="{{ page.lang | append: '/essays-poetry' | absolute_url }}">{{ site.data.labels.essays-poetry[page.lang] }}</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">{{ site.data.labels.projects[page.lang] }}</span>
                    <ul>
                        <li><a href="{{ page.lang | append: '/projects#egov' | absolute_url }}">{{ site.data.labels.egov[page.lang] }}</a></li>
                        <li><a href="{{ page.lang | append: '/projects#blockchain' | absolute_url }}">{{ site.data.labels.blockchain[page.lang] }}</a></li>
                        <li><a href="{{ page.lang | append: '/projects#software' | absolute_url }}">{{ site.data.labels.software[page.lang] }}</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">{{ site.data.labels.datalab[page.lang] }}</span>
                    <ul>
                        <li><a href="{{ page.lang | append: '/datalab#wordclouds' | absolute_url }}">{{ site.data.labels.wordclouds[page.lang] }}</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">{{ site.data.labels.interviews[page.lang] }}</span>
                    <ul>
                        <li><a href="{{ page.lang | append: '/interviews#same-language' | absolute_url }}">{{ site.data.labels.interviews-same-language[page.lang] }}</a></li>
                        <li><a href="{{ page.lang | append: '/interviews#other-languages' | absolute_url }}">{{ site.data.labels.interviews-other-languages[page.lang] }}</a></li>
                    </ul>
                </li>
                <li><a href="{{ page.lang | append: '/affiliations' | absolute_url }}">{{ site.data.labels.affiliations[page.lang] }}</a></li>
                <li>
                    <span class="opener">{{ site.data.labels.trivia[page.lang] }}</span>
                    <ul>
                        <li><a href="{{ page.lang | append: '/random-writings' | absolute_url }}">{{ site.data.labels.random-writings[page.lang] }}</a></li>
                    </ul>
                </li>
                <li><a href="{{ page.lang | append: '/contacts' | absolute_url }}">{{ site.data.labels.contacts[page.lang] }}</a></li>
                <li>
                    <span class="opener">{{ site.data.labels.language[page.lang] }}</span>
                    <ul>
                        <li><a href="/en/">{{ site.data.labels.english[page.lang] }}</a></li>
                        <li><a href="/es/">{{ site.data.labels.spanish[page.lang] }}</a></li>
                        <li><a href="/fr/">{{ site.data.labels.french[page.lang] }}</a></li>
                        <li><a href="/it/">{{ site.data.labels.italian[page.lang] }}</a></li>
                        <li><a href="/pl/">{{ site.data.labels.polish[page.lang] }}</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Focus</h2>
            </header>
            <div class="mini-posts">
                {% for post in site.categories.focus %}
                {% unless post.publication == "" or post.publication == nil %}
                <article>
                    <a href="{{ site.baseurl }}{{ post.url }}" class="image"><img src="{{ post.image }}" alt="" /></a>
                    <p>{{ post.excerpt }}</p>
                </article>
                {% endunless %}
                {% endfor %}
            </div>
        </section>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Get in touch</h2>
            </header>
            <p>Feel free to drop me a line!</p>
            <ul class="contact">
                <li class="far fa-envelope"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                <li class="far fa-envelope"><a href="mailto:{{ site.pec }}">{{ site.pec }}</a></li>
                <li class="fa-home">{{ site.city }}, {{ site.country }}</li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; {{ site.title }}. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>. Jekyll integration: <a href="https://andrewbanchi.ch">Andrew Banchich</a>, <a href="https://reale.me">Roberto Reale</a>. <a href="https://www.iubenda.com/privacy-policy/{{ site.iubenda[page.lang] }}" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></p>
        </footer>

    </div>
</div>
