<!doctype html>
<html lang="{{ page.lang }}">

    <head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
        {% include head.html %}
    </head>

    <body>
        <div id="wrapper">
            <div id="main">
                <div class="inner">
                    {% include header.html %}

                    {{ content }}

                    {% unless page.comments == false %}
                    <div id="disqus_thread"></div>
                    {% endunless %}
                </div>
            </div>
            {% include sidebar.html %}
        </div>
        {% include footer.html %}
    </body>

</html>
